[submodule "zstr"]
	path = zstr
	url = https://github.com/mateidavid/zstr.git
	branch = master
[submodule "include/zstr"]
	path = include/zstr
	url = https://github.com/mateidavid/zstr.git
	branch = master
[submodule "include/readfq"]
	path = include/readfq
	url = https://github.com/lh3/readfq.git
	branch = master
[submodule "include/rapidjson"]
	path = include/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
